<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../js/layui/css/layui.css"  media="all">
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<style>
			.layui-tree li a cite {
				font-size: 18px;
			}
			.layui-tree li a i {
			    display: none;
		    }
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">物料类别选择</h1>
		</header>
		<div class="mui-content">
		    <div class="mui-input-row mui-search">
			    <input type="search" id="search" class="" placeholder="输入关键字进行过滤">
			</div>
			<ul id="lblist"></ul>
		</div>
		<script src="../../js/layui/layui.js" charset="utf-8"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="kccx.js"></script>
	</body>

</html>