<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <h1 class="mui-title">条码扫描</h1>
		</header>
		<div class="mui-content">
		    <div id="bcid" style="width: 100%;height: 100%;position: absolute;background: #000000; display: none;"></div>
			<div id="bcid1" class="mui-bar mui-bar-footer" style="padding: 0px; display: none;">  
	       		<!--<div class="fbt" onclick="scanPicture();">从相册选择二维码</div>-->  
	       		<div id="qxsm" class="fbt">取　 消</div>  
    		</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="scan.js"></script>
	</body>

</html>